.home,.service,.feedback,.menu{
  text-decoration: none;
}
.feed
{
  background-color: rgb(32, 131, 170);
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid red ;
  box-shadow: 10px 10px 10px ;
}
.sec{
 
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 300px;
padding: 50px;

  margin-left: 0%;
  
  gap: 10px;

}
textarea {
  width: 200px;
  }
  .submitbutton{
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: 10px;
  }